.table {
  margin-top: 286px;
  margin-bottom: 120px;
}

.header-table {
  display: flex;
  gap: 40px;
}

.search-name-wrapper {
  height: 48px;
  position: relative;
}

.glass-icon {
  color: white;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.heartIcon {
  transition: 2s;
}

.heartIcon:hover {
  transform: scale(1.5);
}

.heartIconActive {
  color: #b91d1d;
  transition: 2s;
}

.heartIconActive:hover {
  transform: scale(1.5);
}

.search {
  width: 323px;
  height: 52px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.search::placeholder {
  font-family: "VT323", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.filter-by-tag {
  width: 323px;
  height: 48px;
}

label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background: rgba(0, 0, 0, 0.5);
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "VT323", monospace !important;
  color: #ffffff !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ffffff !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #ffffff !important;
}

.convert-currency {
  width: 205px;
}

.select-number {
  width: 172px;
}

.confirm-filter {
  color: white;
  width: 48px;
  height: 56px;
  display: flex;
  align-items: center;
  background: #000000;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  border: 1px solid #ffffff;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  /* border: 1px solid #ffffff; */
  color: white;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}
.css-34nofg-MuiTableRow-root {
  cursor: pointer;
}

.table-wrapper {
  margin-top: 32px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: black !important;
}

.css-1ygcj2i-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root {
  font-family: "VT323", monospace !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: white !important;
}

.C24h {
  color: #0e901b !important;
}
.C24h- {
  color: #b91d1d !important;
}

.C7d- {
  color: #b91d1d !important;
}
.C7d {
  color: #0e901b !important;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
}

.pagination ul {
  color: white;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

.pagination li a {
  padding: 2px 8px;
  cursor: pointer;
}

.pagination li:hover {
  border: 1px solid white;
}

.selected {
  border: 1px solid white;
}

.search::placeholder {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .header-table {
    flex-direction: column;
  }
  .search,
  .filter-by-tag,
  .convert-currency,
  .select-number {
    width: 100%;
  }
  .pagination ul {
    flex-wrap: wrap;
  }
}
